.character {
  position: relative;
  width: 100%;
  max-width: 220px;
  margin: auto;
}

.yunche {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0; left: 0;
  transition: opacity 0.5s ease;
}

.yunche.awake { opacity: 0; }
.yunche.sleep { opacity: 1; }

.character.despierto .yunche.sleep { opacity: 0; }
.character.despierto .yunche.awake { opacity: 1; }

#estado {
  margin-top: 10px;
  font-weight: bold;
}
